extends layout
block content
  if (g.state==="Unstarted")
    h1 Este juego aun no esta iniciado. 
    h1 Esperando Jugador.
  else
    .container
      div(id="contenedor")
        div(id="left")
          h1 Jugar Ronda
          h5 Cartas jugadas de #{rival.name}
          each val in rc
            img.img(src=val)
          h5 Cartas jugadas de #{user.name}
          each val in uc
            if (val ==='./images/dorso.jpg')
              img.imgTrans(src='./images/void.jpg')
            else
              img.img(src=val)
          br
        div(id="right")
          if (turn)
            h3 Juega #{user.name}
          else
            h3 Juega #{rival.name}
          h2 Puntuación  
          h3 #{g.player1}: #{g.score[0] + g.currentRound.score[0]} | #{g.player2}: #{g.score[1] + g.currentRound.score[1]}
          if (turn)
            if (ps==='envido' || ps==='truco')
              h3 ¡Te cantaron #{ps}!
            if (ps==='quiero' || ps==='no-quiero')
              h3 ¡Te respondieron #{ps}!
          else
            if (ps==='envido' || ps==='truco')
              h3 Cantaste #{ps}
            if (ps==='quiero' || ps==='no-quiero')
              h3 Respondiste #{ps}
          h3 Tus puntos son: #{user.pointsenv}
          if (turn)
            h3 Elija que jugar
            br
            div
                if (user.handscards[0] != null)
                  if (g.currentRound.fsm.can('play card'))
                    input.img(type="image", src=c1, value='jugar carta 1', onclick='myFunction("jugar-carta-1")')
                  else
                    input.imgDis(type="image", src=c1, name="jugada", disabled="disabled")
                if (user.handscards[1] != null) 
                  if (g.currentRound.fsm.can('play card'))
                    input.img(type="image", src=c2, value='jugar carta 2', onclick='myFunction("jugar-carta-2")')              
                  else
                    input.imgDis(type="image", src=c2, name="jugada", disabled="disabled")
                if (user.handscards[2] != null) 
                  if (g.currentRound.fsm.can('play card'))
                    input.img(type="image", src=c3, value='jugar carta 3', onclick='myFunction("jugar-carta-3")')
                    //input.img(type="image", src=c3, name="jugada", value='jugar carta 3',onclick='playing(jugar carta 3)')
                    //input.imgDis(type="image", src=c3, name="jugada", disabled="disabled")
                    //button.button1(onclick='myFunction("jugar-carta-3")') JUGAR CARTA 3
                  else
                    input.imgDis(type="image", src=c3, name="jugada", disabled="disabled")
                br
                if (g.currentRound.fsm.can('truco') && (g.currentRound.scoretruco < 2))
                  button.button1(onclick='myFunction("truco")') TRUCO
                if g.currentRound.fsm.can('envido')
                  button.button1(onclick='myFunction("envido")') ENVIDO
                if g.currentRound.fsm.can('quiero')
                  button.button1(onclick='myFunction("quiero")') QUIERO
                if g.currentRound.fsm.can('no-quiero')
                  button.button1(onclick='myFunction("no-quiero")') NO QUIERO
          else
            h3 No es tu turno.
            h3 Esperando jugada de #{rival.name}.
            if (user.handscards[0] != null)
              input.imgDis(type="image", src=c1, name="jugada", disabled="disabled")
            if (user.handscards[1] != null) 
              input.imgDis(type="image", src=c2, name="jugada", disabled="disabled")
            if (user.handscards[2] != null) 
              input.imgDis(type="image", src=c3, name="jugada", disabled="disabled")
            br
  script(src='https://cdn.socket.io/socket.io-1.2.0.js')
  script(type='text/javascript').
    var socket = io.connect('/');
    socket.emit('join', '#{g._id}');
    socket.on('jugar',function(){
      location.reload();
    });
    socket.on('sala',function(){
      //if (g.state==="Unstarted"){
       // location.reload();
      //}
    });
    function myFunction(jugada) {
      socket.emit('jugada', jugada,'#{g._id}');
    }  
